.App {
  text-align: center;
  background-color: #12152E;
  background-image: url('./assets/Cloud-background.png');
  height: 80em;
}

.App-link {
  color: #61dafb;
}

.container-weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  color: white;
}
.container-forecast{
  margin: 5%;
  width: 100%;
  overflow: auto;
  display: flex;
}
.forecasts{
  display: flex;
  color: white;
}
.forecast{
  background-color: #4C506D !important;
  padding-top: 1em;
  width: 10em;
  height: 13em;
}

.weather{
  padding-top: 1.2em;
  margin-bottom: 5%;
  width: 13em;
  background-color: #4C506D;
  height: 13em;
  border-radius: 100%;
  border: solid rgb(69, 209, 163) 0.5px;
  box-shadow: 0 0 0 3.5px aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
  align-self: center;
  width: 6em !important;
}
.weather-detail{
  font-size: 3em;
}
.detail{
  background-color: #4C506D !important;
  padding-top: 1em;
}
.loading{
  margin-top: 6em;
}
@media (min-width: 768px){
  .detail{
    width: 13em;
  }
}